@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color_sec_1: rgb(90, 38, 38);
    --height_cel: 80vh;
    --height_nav: 2.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(87, 46, 46);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #5c2e2e;
    border: 1px solid #3d1b1b;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(126, 108, 108);
    border-radius: 3px;
}

::-webkit-scrollbar-button {
    height: 7px;
    background-color: rgb(63, 33, 33);
    border: 1px solid #3d1b1b;
}

#nav_sn {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    color: transparent;
    height: 0px;
    width: 100%;
    z-index: 3;
    pointer-events: all;
}

#nav_sn>div {
    position: relative;
    height: 0px;
    width: 100%;

}

#nav_sn_absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    width: 100%;
}

#nav_sn_absolute:hover nav {
    pointer-events: all;
    opacity: 1;
    height: var(--height_nav);
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    pointer-events: none;
    opacity: 0;
    height: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    transition: all 500ms linear
}

nav>a {
    color: black;
    text-decoration: none;
    display: grid;
    place-items: center;
    text-align: center;
    min-height: var(--height_nav);
    width: 20%;
    line-height: 1rem;
    padding: 0 .6rem;
    background-color: rgb(87, 46, 46);
    outline: 1px solid black;
}

nav>button {
    background-color: rgb(40, 104, 40);
    min-height: var(--height_nav);
    cursor: pointer;
    width: 20%;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    outline: 1px solid black;
}

header {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    place-content: center;
    flex-direction: column;
    position: relative;
}

header::before {
    content: "";
    background-color: rgb(105, 22, 22);
    position: absolute;
    inset: 0;
    z-index: 0;

}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url(imagens/self-imolation.jpg);
    mix-blend-mode: screen;
    opacity: .4;

    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: cover;
    background-attachment: fixed;
}

header>div {
    text-align: center;
    color: black;
    font-weight: bolder;
    z-index: 2;
}

section:nth-child(1) {
    display: grid;
    grid-template: 1fr / 6fr 4fr;
    height: 100vh;
    width: 100%;
    background-color: var(--color_sec_1);
    outline: 5px solid rgb(71, 34, 34);
    outline-offset: -5px;
}

.div_1 {
    padding: 2rem;
    margin: auto;
}

h2 {
    margin: .5rem;
    font-size: 2.5rem
}

p {
    font-size: 1.3rem;
    text-indent: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display_f {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.display_f::after {
    content: "";
    position: absolute;
    height: 90vh;
    width: 32vw;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 30vw rgb(34, 34, 34);
    z-index: 0;
}

.display_f::before {
    content: "";
    position: absolute;
    top: 7.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: .7rem;
    width: 3.5rem;
    border-radius: 1rem;
    background-color: rgb(14, 14, 14);
    z-index: 1;
}

.img_nome {
    background-color: white;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.img_nome>p {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: .5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img_nome:nth-child(1)>p::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/Flag_of_Syria.svg);
    height: 1.1rem;
    width: 2rem;
    margin: 0 .4rem 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img_nome:nth-child(2)>p::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/Flag_of_Bahrain.svg);
    height: 1.1rem;
    width: 2rem;
    margin: 0 .4rem 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img_nome:nth-child(2)>img {
    height: 50vh;
    object-fit: cover;
}

.img_nome:nth-child(3)>p::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/Flag_of_Yemen.svg);
    height: 1.1rem;
    width: 2rem;
    margin: 0 .4rem 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img_nome:nth-child(4)>p::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/Flag_of_Libya.svg);
    height: 1.1rem;
    width: 2rem;
    margin: 0 .4rem 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img_nome:nth-child(5)>p::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/Flag_of_Tunisia.svg);
    height: 1.1rem;
    width: 2rem;
    margin: 0 .4rem 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img_nome:nth-child(6)>p::before {
    content: "";
    display: inline-block;
    background-image: url(imagens/Flag_of_Egypt.svg);
    height: 1.1rem;
    width: 2rem;
    margin: 0 .4rem 0 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img_nome>img {
    display: inline-block;
    min-width: 0;
    min-height: 0;
    width: 27vw;
    height: auto;
}

#cel {
    background-color: white;
    overflow: hidden;
    height: var(--height_cel);
    width: 30vw;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: .5rem;
    z-index: 1;
}

#cel>div {
    position: absolute;
    top: 0;
    animation: scroll_cel 25s linear infinite alternate paused;
    left: calc(1.5vw - .7rem);
}

#cel>div>p {
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: .5rem
}

section:nth-child(1):hover #cel>div {
    animation-play-state: running;
}

@keyframes scroll_cel {

    0%,
    5% {
        transform: translateY(0)
    }

    95%,
    100% {
        transform: translateY(calc((100% - var(--height_cel)) * -1))
    }
}

section:nth-child(2) {
    display: grid;
    grid-template: 100% / 6fr 4fr;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(128, 102, 102);
}

section:nth-child(2)>div:nth-child(1) {
    padding: 2rem
}

section:nth-child(2)>div:nth-child(2) {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

section:nth-child(2)>div:nth-child(2) canvas {
    display: flex;
    min-width: 0;
    min-height: 0;
    width: 330px;
    height: 450px;
}

section:nth-child(3) {
    display: grid;
    grid-template: 100% / 11fr 9fr;
    width: 100%;
    height: 100vh;
    outline: 5px solid rgb(71, 34, 34);
    outline-offset: -5px;
}

section:nth-child(3) div:nth-child(1) {
    padding: 2rem;
    margin: auto
}

section:nth-child(3) div:nth-child(2) {
    width: 45vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

section:nth-child(3) div:nth-child(2) img {
    width: calc(45vw - 2rem);
    height: auto;
}

/* modal */

#abrir_modal {
    font-weight: 900;
    font-size: 1.5rem;
    outline: 2px solid black;
    padding: 10px 20px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999999;
}

#modal {
    padding: 20px;
    padding-bottom: 10px;
    margin: auto auto;
    outline: 2px solid black;
    text-align: center;
}

#fechar_modal {
    background-color: #9f2222;
    margin: 10px;
    padding: 5px 10px;
    outline: 1px solid black;
    color: white;

}

#modal * {
    color: black
}

#modal a {
    color: blue
}
